<div>
  {{#if error}}
  <p style="color:red">
    {{error}}
  </p>
  {{/if}}
  {{#if success}}
  <p style="color:green;">
    {{success}}
  </p>
  {{/if}}
  {{#if errors}}
  {{#each errors}}
  <p style="color:red">
    {{msg}}
  </p>
  {{/each}}
  {{/if}}
</div>