<div class="container">
    <ul style="list-style-type: none;">
        <li><a href="/">Home</a></li>
        {{#if user}}
        <li><a href="/user/settings">Settings</a></li>
        <li><a href="/user/logout">Logout</a></li>
        {{else}}
        <li><a href="/user/reigster">Register</a></li>
        <li><a href="/user/login">Login</a></li>
        {{/if}}
    </ul>
</div>