<h1>
  {{title}}
</h1>
{{>messages}}
<form action="new-password" method="POST">
  <div>
    <label for="tempPassword">
      Temporary Password
    </label>
    <input type="password" name="tempPassword" id="tempPassword" required />
  </div>
  <div>
    <label for="password">
      New Password
    </label>
    <input type="password" name="password" id="password" required />
  </div>
  <div>
    <label for="passwordTwo">
      Confirm Password
    </label>
    <input type="password" name="passwordTwo" id="passwordTwo" required />
  </div>
  <div>
    <button type="submit">
      Submit
    </button>
  </div>
</form>