<h1>{{title}}</h1>
{{>messages}}
<form action="login" method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" value="bigtest" required />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="123456" required />
    </div>
    <div>
        <button type="submit">
            Submit
        </button>
    </div>
</form>
<p>Having trouble logging in? <a href="/user/reset">Reset</a> your password.</p>